//
   Created with JetBrains WebStorm.
   User: vlyamzin
   Date: 2/11/13
   Time: 12:01 PM
   To change this template use File | Settings | File Templates.
extends  content-layout

block header
    a.btn.head-btn.active Home
    a.btn.head-btn(href="/") Tasks
    a.btn.head-btn#logout(href="/logout") Log out

block content
    .home
        .left-block.round-bg
            #user-pic
                img(src="/img/nopic.png", alt="User photo")
            #user-name User User
            #user-info
                .all-tastks 10
        .right-block.round-bg
            h4 Add new task
            .add-task-box
                input.new-task-title(placeholder="Task title")
                .btn-toolbar(data-role="editor-toolbar", data-target="#editor")
                    .btn-group
                        a.btn(data-edit="bold")
                            i.icon-bold
                        a.btn(data-edit="italic")
                            i.icon-italic
                        a.btn(data-edit="strikethrough")
                            i.icon-strikethrough
                        a.btn(data-edit="underline")
                            i.icon-underline
                    .btn-group
                        a.btn(data-edit="insertunorderedlist")
                            i.icon-list-ul
                        a.btn(data-edit="insertorderedlist")
                            i.icon-list-ol
                        a.btn(data-edit="outdent")
                            i.icon-indent-left
                        a.btn(data-edit="indent")
                            i.icon-indent-right
                    .btn-group
                        a.btn.dropdown-toggle(data-toggle="dropdown")
                            i.icon-link
                        .dropdown-menu.input-append
                            input.span2(type="text", placeholder="URL", data-edit="createLink")
                            button.btn(type="button") Add
                .new-task-area#editor(placeholder="Task message")
                .new-task-btns
                    input.datepicker.btn(placeholder="Date")
                    button.btn#add-task(data-toggle="tooltip", title="first tooltip") Add task
                    .clr
        .right-block.round-bg#today
            .task-box
                div.date-mark today
        .right-block.round-bg#tomorrow
            .task-box
                div.date-mark tomorrow
        .right-block.round-bg#someday
            .task-box
        .right-block.round-bg#ended
            .task-box
                div.date-mark ended
        #page.right-block.round-bg
    .clr
block script
    script(src="/js/front-home.js")
    script(src="/js/bootstrap-datepicker.js")
    script(src="/js/moment.min.js")
    script(src="/js/jquery.hammer.min.js")