
extends content-layout

block content
    form#login-form(method="post")
        input(type="text", name="login_name", required="required")
        input(type="password", name="login_pass", required="required")
        button#sugn-up(type="submit") Sign in
        a#res-pwd(href="#") Forget password?
