//
   Created with JetBrains WebStorm.
   User: vlyamzin
   Date: 4/17/13
   Time: 4:10 PM
   To change this template use File | Settings | File Templates.

extends content-layout

block header
    a.btn.head-btn(href="/") Go Back

block content
    .round-bg
        h2 Good bye, friend!
