extends  content-layout

block header
    a.btn.head-btn(href="/") Home
    a.head-btn#go-login(href="/login") Already have an account? Sign in

block content
    h2 Let's use Clitter today
    form#signup-form.span6(method="post")
        input(type="text", name="login", required="required")
        input(type="password", name="pass", required="required")
        button#sugn-up(type="submit") Sign up