*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    background: url("../img/green_dust_scratch.png") top left repeat;
}

.clr{
    clear: both;
}

a {
  color: #00B7FF;
}

.head-btn{
    color: #bbb;
    font-weight: bolder;
    background: none;
    border: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,.75);
    border-radius: 0;
    height: 32px;
    line-height: 30px;
}
a.head-btn:hover{
    background: #222;
    border: none;
    color: #fff;
}
a.head-btn.active{
    color: #fff;
    background: #222;
}

h2{
    text-align: center;
}

.popover{
    width: 150px;
}
.popover-title{
    text-align: center;
}

.page{
    min-width: 960px;
    min-height: 100%;
    width: 960px;
    margin: 40px auto 0;
    background: rgba(255, 255, 255, .5);

    /*shadows*/
    -webkit-box-shadow: 0px 7px 19px rgba(50, 50, 50, 0.88);
    -moz-box-shadow:    0px 7px 19px rgba(50, 50, 50, 0.88);
    box-shadow:         0px 7px 19px rgba(50, 50, 50, 0.88);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;

    /*background*/
    background: #191919; /* Old browsers */
    background: -moz-linear-gradient(top,  #191919 0%, #3d3d3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191919), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #191919 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #191919 0%,#3d3d3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #191919 0%,#3d3d3d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #191919 0%,#3d3d3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */

    /*shadows*/
    -webkit-box-shadow: 0px 4px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    0px 4px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         0px 4px 6px rgba(50, 50, 50, 0.61);
}
header .head-wrapper{
    width: 960px;
    margin: 0 auto;
}
.content{
    padding: 12px;
}
footer{
    height: 100px;
    margin-top: -100px;
}
.left-block{
    float: left;
}
.right-block{
    float: right;
}
.bot-wrap{
    height: 100px;
}
.round-bg{
    background: #f9f9f9;
    border-radius: 7px;
    padding: 12px 25px;
}
.red{
    color: #F23010;
}

/*********** Index page *********/
.page-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.page-bg img{
    width: 100%;
    height: 100%;
}

.index.page{
    margin-top: 0;
}

.index .main-container{
    position: relative;
}
.index .left-block{
    margin-top: 40px;
}
.index .left-block h1{
    color: #EFF2EA;
    text-shadow: 1px 1px 2px black;
}
.index .left-block p{
    color: #EFF2EA;
    text-shadow: 1px 1px 2px black;
}
.index #login-form{
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%);
    border-radius: 5px;
    padding: 20px;
    width: 230px;
}
.index #login-form h4{
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #B9BCB4;
}
.index #login-form h4 p{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    display: none;
}
.index #login-form button{
    margin: 0 10px 0 0;
}

/**********Login page**************/
#login-form{
    margin: 0 auto;
    width: 350px;
}
#login-form p.red{
    display: none;
    text-align: center;
}
#res-pwd{
    font-size: 12px;
    margin-left: 130px;
}
#go-login{
    font-size: 12px;
    float: right;
    padding: 4px 0;
    margin: 0 5px 0 0;
}
#go-login:hover{
    background: none;
    text-decoration: none;
}

/**********Sign Up***********/
#signup-form{
    margin: 0 auto;
    float: none;
}
#signup-form p.red{
    display: none;
    text-align: center;
}
#signup-form input{
    margin: 0 30px 0 0;
}
#signup-form label{
    font-style: italic;
    color: #535353;
    display: none;
}
.form-row{
    margin: 0 0 20px 0;
}
.form-row > *{
    display: inline-block;
}
#signup-form #photoCover{
    margin: 0;
}

/************Home page************/
#logout{
    float: right;
}

.home .left-block{
    width: 300px;
}
.home .left-block > div{
    margin-bottom: 10px;
}
.home .right-block{
    width: 520px;
}
.home .right-block{
    margin-bottom: 12px;
}
#user-pic{
    width: 200px;
}

.home .add-task-box{
    border: 1px solid #b4b2b2;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.home .add-task-box .new-task-title{
    width: 508px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #b4b2b2;
    height: 35px;
    padding: 0 5px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-style: italic;
    color: #6a6a6a;
}

.home .add-task-box .btn-toolbar{
    margin: 0;
}
.home .add-task-box .btn-toolbar a{
    border-radius: 0;
    border: none;
}

.home .add-task-box .new-task-area{
    border: none;
    border-bottom: 1px solid #b4b2b2;
    border-top: 1px solid #b4b2b2;
    resize: none;
    border-radius: 0;
    margin: 0;
    padding: 5px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.home .add-task-box .new-task-btns .datepicker{
    width: 122px;
    height: 20px;
    border-radius: 0 0 0 5px;
    border: none;
    border-right: 1px solid #b4b2b2 ;
}
input.datepicker::-webkit-input-placeholder { /* WebKit browsers */
    color:    #333;
}
input.datepicker:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #333;
}
input.datepicker::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #333;
}
input.datepicker:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #333;
}
#add-task{
    float: right;
    border: none;
    border-radius: 0 0 5px 0;
    border-left: 1px solid #b4b2b2;
}

.home .task-box .task{
    border-bottom: 1px solid #b4b2b2;
    clear: right;
}
.home .task-box .task:last-child{
    border-bottom: none;
}

.home .task-box .task-title{
    cursor: pointer;
}

.home .task-box .task.deleted .task-title h4{
    text-decoration: line-through;
    color: rgb(87,87,87);
    font-style: italic;
    padding: 0 5px 0 0;
}
.home .task-box .task.deleted .task-text{
    color: rgb(87,87,87);
}

.home .task-box .task-text{
    margin: 0 0 10px 0;
    padding-left: 10px;
    border-left: 3px solid #b4b2b2;
}

.home .task-box .task-title h4{
    float: left;
    width: 430px;
}
.home .task-box .task-title .btn-cont{
    float: right;
    margin: 10px 0;
    height: 20px;
    width: 84px;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity .5s;
}
.home .task-box .task-title:hover .btn-cont{
    opacity: 1;
}
.btn-cont > button{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    opacity: .5;
}
.btn-cont > button:hover{
    opacity: 1;
}

.btn-cont .ctrl-task.open{
    background: url("../img/buttons_sprite.png") 71px 0;
}
.btn-cont .ctrl-task{
    background: url("../img/buttons_sprite.png") -23px 0;
}
.btn-cont .edit-task{
    background: url("../img/buttons_sprite.png") -71px 0;
}
.btn-cont .end-task{
    background: url("../img/buttons_sprite.png") 0 0;
}

.date-mark{
    float: right;
}
#today, #tomorrow, #someday, #ended{
    display: none;
}
#today .date-mark{
    color: #00cf0f;
}
#tomorrow .date-mark{
    color: #d60912;
}
#someday .date-mark{
    margin-top: 10px;
    color: #2fcfdc;
}
#someday .date-mark:first-child{
    margin-top: 0;
}
.right-block#ended{
    background: rgb(150, 150, 150);
}